.container{
        display: block;
        margin: auto;
        padding: auto;
        width: 50%;
}
.text{
        text-align: center;
        font-size: larger;
}
.rounded{
        border-radius: 15px;
        display: block;
        background: seagreen;
        color: white;
        width: 220px;
        height: 50px;
        margin: auto;
        padding: auto;
}